@use 'components/shared/styles/mixins' as *;

.main-body {
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
    background: #060d17;

    @include mobile-or-tablet-screen {
        display: flex;
        flex-direction: column;
    }
}
